@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background: rgba(255, 255, 255, 0.164);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba(255, 255, 255, 0.144);
  color: #f3f3f393;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #ffffff9c;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(0%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.l1{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.l1:after{
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.l1:hover{
  color: #ffffff;
}
.l1:hover:after{
  width: 100%;
}

.l2{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.l2:after{
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.l2:hover{
  color: #ffffff;
}
.l2:hover:after{
  width: 100%;
}

.l3{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.l3:after{
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.l3:hover{
  color: #ffffff;
}
.l3:hover:after{
  width: 100%;
}



.l4{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.l4:after{
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.l4:hover{
  color: #ffffff;
}
.l4:hover:after{
  width: 100%;
}